Language: Cpp
BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: All
AlwaysBreakAfterReturnType: TopLevelDefinitions
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterNamespace: true
  SplitEmptyFunction: false
BreakConstructorInitializers: BeforeComma
IndentCaseLabels: true
NamespaceIndentation: All
